
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pizzeria SDA! - Login Page</title>
</head>
<body>
<h2>Login form:</h2>
<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form th:action="@{/tlumaczForm}" method="post">

            <div class="form-group">
                <label for="tekstDoTlumaczenia">Tekst:</label>
                <input type="text" class="form-control" name="tekstDoTlumaczenia" id="tekstDoTlumaczenia" placeholder="Tekst do przetlumaczenia:">
            </div>
            <div class="form-check">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>